$componentClassName: '.c-cart-toggle-tab';

#{$componentClassName} {
  width: 32px;
  background: transparent;
  border: none;
  cursor: pointer;
  position: relative;
  transform: scale(1);
  transition: 0.3s all ease;

  &--dark {
    #{$componentClassName} {
      &__icon path {
        fill: #fff;
      }
    }
  }

  &__length {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: var(--primary-color);
    font-weight: 700;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: -7px;
    bottom: -4px;
  }

  &:hover {
    transform: scale(1.2);
  }
}
