@keyframes pulse {
  0% {
    will-change: transform;
  }
  20% {
    transform: scale(1);
  }
  40% {
    transform: scale(1.3);
  }
  60% {
    transform: scale(1.1);
  }
  80% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1.1);
  }
}

.c-header {
  background-color: var(--secondary-color);
  margin-bottom: 50px;
  border-bottom: 4px solid var(--primary-color);
}

.wrapper {
  display: flex;
  justify-content: space-between;
  min-height: 80px;
  align-items: center;
}

.store-name {
  font-weight: 700;
  text-transform: uppercase;
  font-size: var(--title-lg);
  color: var(--primary-color);
  cursor: pointer;

  &:hover {
    animation: pulse 0.4s forwards;
  }
}
