.c-header {
  background-color: var(--complementary-color-01);
  margin-bottom: 50px;
  border-bottom: 4px solid var(--secondary-color);
}

.wrapper {
  display: flex;
  justify-content: space-between;
  min-height: 80px;
  align-items: center;
}

.store-name {
  font-weight: 700;
  text-transform: uppercase;
  font-size: var(--title-lg);
  cursor: pointer;
}
