.c-footer {
  min-height: 100px;
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;

  * {
    color: #fff;
  }
}

.wrapper {
  display: flex;
  justify-content: flex-end;
}

.linkedIn,
.source {
  margin-left: 24px;

  &-icon {
    transform: scale(1);
    transition: 0.3s all ease;

    path {
      fill: #fff;
    }

    &:hover {
      transform: scale(1.2);
    }
  }
}
