.c-cart-tab {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  background-color: var(--secondary-color);
  box-shadow: var(--box-shadow-popout);
  width: 500px;
  max-width: 100%;
  transform: translateX(100%);
  transition: 0.3s all ease;
  z-index: 9;

  &--visible {
    transform: translateX(0);
  }

  &__empty-bag {
    color: #fff;
  }
}
