$componentClassName: '.c-cart-product';

#{$componentClassName} {
  position: relative;

  &__container {
    display: flex;
    align-items: flex-start;
    padding: 20px;
    opacity: 1;
    transition: 0.3s all ease;
  }

  * {
    color: #fff;
  }

  &__figure {
    margin-right: 20px;
  }

  &__content {
    flex: 1;
  }

  &__title {
    font-weight: bold;
    display: block;
    margin-bottom: 4px;
  }

  &__style {
    display: block;
    color: #999;
  }

  &__price {
    align-self: center;
  }

  &__currency-format,
  &__price-integer,
  &__price-fraction {
    color: var(--primary-color);
  }

  &__price-integer {
    font-weight: 700;
    margin-left: 6px;
  }

  .c-cart-remove {
    display: none;
    position: absolute;
    right: 20px;
    top: 20px;
  }

  &:hover {
    #{$componentClassName} {
      background-color: var(--dark-secondary-color);

      &__container {
        opacity: 0.4;
      }

      &__title {
        text-decoration: line-through;
      }
    }

    .c-cart-remove {
      display: block;
    }
  }
}
